@import url("https://fonts.googleapis.com/css=?family=Poppins:300,400,500,600,700,800,900&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header ul li a:hover {
    opacity: 1;
    background: #fff;
    color: #2b1055;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    outline: none;
}

header ul li a.active {
    background: #fff;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    width: 100%;
    height: 100vh;
    display: flex;
}

#contact {
    display: block;
    opacity: 1;
    top: 0px;
    left: 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    text-align: center;
    transition: 1.5s;
    background: rgba(0,0,0,0.7);
}

#music {
    display: block;
    opacity: 1;
    top: 0px;
    left: 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    text-align: center;
    transition: 1.5s;
    background: rgba(0,0,0,0.7);
}

.heading {
    font-family:'Oswald',sans-serif;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.name {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
}

.links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: relative;
    color: #C576F6;
    text-decoration: none;
    background: #fff;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    opacity: 0.7;
}

.links:hover {
    opacity: 1;
}

#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    text-shadow: 5px 5px black;
}

.inner-divider-half {
    height:50px
}
.inner-divider-full {
    height:75px
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  path {
    stroke: #007db5;
  }

  #current-time {
    margin: auto;
    display: inline-block;
  }

  #timeline{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 5px;
    background: gray;
    margin: 0 0 3px 0;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 15px;
    text-align: center;
    opacity: 1;
  }

  #playhead{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-top: -3px;
    background: #fff;
    box-shadow: 0px 0px 10px 1px #fff;
    transition: 0.5s;
  }

  #playhead:hover {
    transform: scale(1.2);
  }

  #duration {
    display: inline-block;
    margin-left: 10px;
  }

  #loop-icon {
    width: 100px;
  }

  .music-heading{font-family:'Oswald',sans-serif;font-size:15px;font-style:normal;font-weight:400;text-transform:uppercase;padding:0;margin:-5px 0 -3px 0;text-align:center;letter-spacing:.05em;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}

  .music-button {
    padding: 0;
    border: 0;
    border-radius: 25px;
    background: inherit;
    background-color: #C576F6;
    cursor: pointer;
    outline: none;
    width: 60px;
    height: 30px;
    opacity: 0.7;
    transition: 0.5s;
  }

.music-button:hover {
  opacity: 1;
}
